<div class="text-center mt-5 mb-6">
  <h1>Stupid Coach</h1>
</div>
<div class="text-center mt-6 mb-6">
  <p>Ask your coach anything:</p>
</div>
<div class="text-center mt-6 mb-6">
  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="GO!">
  </form>
</div>
